
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="../../../assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__icon" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="zz-table--me table--confirmed">
  <th scope="row"><img class="zz-table__img" src="../../../assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor">Fritzli</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__icon" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
<tr class="table--confirmed">
  <th scope="row"><img class="zz-table__img" src="assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor" href="#">Kindname</span></td>
  <td>Kindnachname</td>
  <td>Elternvorname</td>
  <td>Name</td>
  <td>Herzogenbuchsee</td>
  <td>
    <a href="#">
      <img class="zz-table__img" src="../../../assets/img/email.svg">
    </a>
  </td>
</tr>
