<header class="navbar fixed-top navbar-expand-md navbar-light zz-navbar" role="banner">
  <a class="navbar-brand zz-logo" [routerLink]="['/home']">
    <img src="assets/img/Logo.svg" alt="" class="zz-logo__img">
  </a>
  <button class="navbar-toggler zz-navbar__button" type="button" data-toggle="collapse"
          data-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="zz-navbar__button-txt">menu</span>
    <span class="navbar-toggler-icon zz-navbar__button-icon"></span>
  </button>
  <nav class="collapse navbar-collapse justify-content-end zz-nav" id="navbarNavDropdown" role="navigation">
    <!--start navigation-->
    <app-nav></app-nav>
    <!--end navigation-->
  </nav>
</header>
