.zz-btn{
  background-color: $color-white;
  @include mx-button-default(1rem, 0rem);
  &:after{
  @extend .helper-underline-anim;
  }

  &:hover:after{
  @extend .helper-underline-anim-hover;
  }

  &--primary{
    background-color: $color-primary;
    color:white;
    min-width:rem-calc(200px);
    padding:0.75rem 1rem;

    &:hover{
      background-color: $color-primary-70;
    }
    &:hover:after{
      @extend .helper-underline-none;
    }
  }
  &:disabled{
    background-color: $color-primary-70;
    &:hover{
      cursor:not-allowed;
    }
  }
}


.zz-btn-small{
  @include mx-button-default(.5rem, .5rem);
  &:after{
    @extend .helper-underline-anim;
  }

  &:hover:after{
    @extend .helper-underline-anim-hover;
  }

  &--primary{
    background-color: $color-primary;
    color:white;

    &:hover{
      background-color: $color-primary-70;
    }
    &:hover:after{
      @extend .helper-underline-none;
    }
  }
}

//TODO: ausarbeiten der Abstände
.zz-mod-box + .zz-btn{
    margin-top: rem-calc(-25px);
}

