.zz-btn{
  background-color: $color-white;
  padding:1rem;
  border-radius: 5px;
  border:none;
  cursor:pointer;
  &:after{
  @extend .helper-underline-anim;
}

  &:hover:after{
  @extend .helper-underline-anim-hover;
  }

  &--primary{
    background-color: $color-primary;
    color:white;

    &:hover{
      background-color: $color-primary-70;
    }
    &:hover:after{
      @extend .helper-underline-none;
    }
  }
}

//TODO: ausarbeiten der Abstände
.zz-mod-box + .zz-btn{
    margin-top: rem-calc(-25px);
}

