<div class="row justify-content-end zz-layout__row">
  <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
    <h1 class="zz-title">404 - Page not found</h1>
    <h2 class="zz-title zz-title-h2">Diese Seite existiert nicht</h2>
    <p>Sie werden in kürze automatisch auf die Home-Seite weitergeleitet</p>
    <p>Oder gehen sie zu</p>
    <p><a class="zz-infotext__link" [routerLink]="['home']">Home</a></p>
    <p><a class="zz-infotext__link" [routerLink]="['app-classlist']">Klassenliste</a></p>
    <p><a class="zz-infotext__link" [routerLink]="['app-chat']">Chat</a></p>
  </div>
</div>
