<div class="row justify-content-end ">
  <div class="col-12 col-lg-12 col-xl-10 ">
    <h1 class="zz-title">Klassenliste von Klasse XYZ</h1>
    <div class="zz-mod-box zz-mod-box--first">
      <div class="zz-mod-box__img-wrapper">
        <img src="assets/img/dummy-portrait.png" alt="" class="zz-mod-box__img">
      </div>
      <p class="zz-mod-box__txt"><span class="zz-mod-box__txt-item zz-mod-box--bold">Fritzli</span><span
        class="zz-mod-box--line-right"></span><span
        class="zz-mod-box__txt-item">Klasse XYZ</span></p>
    </div>
  </div>
</div>
<div class="row justify-content-end zz-layout__row">
  <section class="col-12 col-lg-12 col-xl-10 zz-mod-container">
    <app-classlist-list [classlistList]="classlist"></app-classlist-list>

  </section>
</div>

