  <p class="navbar-brand zz-logo zz-logo--position-center" href="#">
    <img src="assets/img/Logo.svg" alt="" class="zz-logo__img">
  </p>
  <div class="row justify-content-center zz-layout__row">
    <main class="col-11 col-lg-8 col-xl-5 zz-mod-container">
      <div class="zz-mod-box">
        <h1 class="zz-title zz-title--insideBox">Anmelden</h1>
        <form name="form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" novalidate class="zz-form">
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="email">Benutzername</label>
              <input id="email" class="zz-form__input" name="eMail" type="text" formControlName="email" [ngClass]="{ 'zz-form__input--error': formUsername.errors && (formUsername.dirty || formUsername.touched)}" placeholder="test@test.com (zum Testen)">
              <div *ngIf="formUsername.invalid && (formUsername.dirty || formUsername.touched)" class="zz-form__error">Benutzername fehlt oder ist ungültig.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="password">Passwort</label>
              <input id="password" class="zz-form__input" name="password" type="password" formControlName="pwd" [ngClass]="{ 'zz-form__input--error': formPassword.errors && (formPassword.dirty || formPassword.touched) }" placeholder="test99! (zum Testen)">
              <div *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)" class="zz-form__error">Passwort fehlt oder ist ungültig</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group zz-form__group--last">
              <button type="submit" [disabled]="loading || !loginForm.valid" class="zz-btn zz-btn--primary">Anmelden</button>
            </div>
          </div>
        </form>
        <div class="zz-infotext">
          <button [routerLink]="['forgot-password']" class="zz-infotext__link">
            Passwort vergessen?
          </button>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="zz-infotext">
        <p class="zz-infotext__txt">
          zum ersten Mal hier?
        </p>
        <a [routerLink]="['/registration']" class="zz-infotext__link zz-infotext__link--large">
          Registrieren
        </a>
      </div>
    </main>
  </div>

