  <p class="navbar-brand zz-logo zz-logo--position-center" href="#">
    <img src="assets/img/logo.png" alt="" class="zz-logo__img">
  </p>
  <div class="row justify-content-center zz-layout__row">
    <div class="col-11 col-lg-8 col-xl-5 zz-mod-container">
      <div class="zz-mod-box">
        <h1 class="zz-title zz-title--insideBox">Anmelden</h1>
        <form name="form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" novalidate #formDir="ngForm" class="zz-form">
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="email">Benutzername</label>
              <input id="email" class="zz-form__input" name="eMail" type="text" [(ngModel)]="model.email" formControlName="formUsername" #username [ngClass]="{ 'zz-form__input--error': formUsername.errors && !username.valid && (formUsername.dirty || formUsername.touched || formDir.submitted)}" placeholder="test (zum Testen)">
              <div *ngIf="formUsername.errors && !username.valid && (formUsername.dirty || formUsername.touched || formDir.submitted)" class="zz-form__error">Benutzername fehlt oder ist ungültig.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="password">Password</label>
              <input id="password" class="zz-form__input" name="password" type="password" [(ngModel)]="model.password" #password formControlName="formPassword" [ngClass]="{ 'zz-form__input--error': formPassword.errors && !username.valid && (formPassword.dirty || formPassword.touched || formDir.submitted) }" placeholder="test (zum Testen)">
              <div *ngIf="formPassword.errors && !password.valid && (formPassword.dirty || formPassword.touched || formDir.submitted)" class="zz-form__error">Passwort fehlt oder ist ungültig</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group zz-form__group--last">
              <button type="submit" [disabled]="loading" class="zz-btn zz-btn--primary">Anmelden</button>
            </div>
          </div>
        </form>
        <div class="zz-infotext">
          <a href="#" class="zz-infotext__link">
            Passwort vergessen?
          </a>
        </div>
      </div>
      <div class="zz-infotext">
        <p class="zz-infotext__txt">
          zum ersten Mal hier?
        </p>
        <a [routerLink]="['/registration']" class="zz-infotext__link zz-infotext__link--large">
          Registrieren
        </a>
      </div>
    </div>
  </div>

