.zz-alertbox{
  bottom: 10px;
  position: fixed;
  left: 40%;
  width: 20%;
  padding: 1rem;
  border-radius: 5px;
  color: $color-black;
  z-index: 1000;
  text-algin: center;

  &--hidden{
    bottom: -500px;
    transition: bottom 2s ease-in;
  }

  &--success{
    background-color: $color-green-20;
    border: 1px solid $color-green;
  }

  &--danger{
    background-color: $color-red-20;
    border: 1px solid $color-red;
    color: $color-red;
  }

  @include media-breakpoint-down(sm) {
    left: 10%;
    width: 80%;
  }

  @include media-breakpoint-down(md) {
    left: 20%;
    width: 60%;
  }
}
