.zz-avatar{
  display:flex;
  flex-wrap: wrap;

  label{
    margin-left:0;
    margin-right: rem-calc(10px);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__file-upload {
    border: 1px solid $color-gray-light;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    min-width: 12.5rem;
    margin-right: rem-calc(10px);
    margin-top: 10%;
    padding: 0.9rem;
    text-align: center;
  }

  &__wrapper{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    flex: 5;
  }

  .zz-btn{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__img-wrapper{
    flex:1;
    @include mx-round-img-wrapper(100px, 100px);
    margin-right: 10px;

    + .zz-btn{
      margin-top: 1rem;
    }
  }

  &__img{
    @include mx-round-img('width');
  }

  &--img-large{
    height: 100px;
  }
}
input[type="file"] {
  display: none;
}



