.zz-chat{

  &__box {
    @extend .helper-boxshadow;
    margin-bottom: rem-calc(180px);
    padding-left:30px;
    padding-top:4px;
    padding-bottom:rem-calc(75px);
  }


  &__bullet:before {
    background-color: $color-primary-70;
    border-radius:50%;
    content:'';
    height: 15px;
    margin-left:rem-calc(-8px);
    margin-top: rem-calc(15px);
    position: absolute;
    vertical-align: center;
    width: rem-calc(15px);
  }

  &__timeline {
    border-left: 1px dotted $color-primary-60;
    height:100%;
    left: rem-calc(10px);
    position:relative;
  }

  &__timeline-end {
    border-left: 1px dotted $color-primary-60;
    height:15px;
    left: rem-calc(10px);
    position:relative;
    padding-bottom:2px;
    &:before{
      content: '';
    }
  }

  &__date {
    font-weight: $font-weight-light;
    margin-left:rem-calc(30px);
    &--vertical-align{
      padding-top:rem-calc(10px);
      padding-bottom:rem-calc(10px);
      margin-bottom:0;
    }
  }

  &__window {
    @extend .helper-boxshadow-light;
    background: $color-gray-very-light;
    padding: 2px 5px;
    margin-right: 25px;
    z-index: 20;
  }

  &__sender-header{
    display: flex;
    height: 45px;
    margin-top: rem-calc(3px);
  }

  &__txt-item{
    color: $color-gray-dark;
    padding-top: rem-calc(3px);
    padding-right: rem-calc(30px);
  }

  &--line-right{
    margin: 0 15px 0 -15px;
    border-right: 1px solid $color-black;
  }

  &__sender-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: rem-calc(10px);
  }

  &__message-input{
    border: solid 1px $color-primary-20;
    border-radius: 5px;
    display:inline-block;
    min-height: rem-calc(50px);
    max-height: 33vh;
    padding: 10px;
    resize: both;
    width: 100%;
  }

  &__message-label{
    float: left;
  }
  &__message-text {
    height: auto;
    margin-top:rem-calc(10px);
    overflow:hidden;
    white-space:pre-wrap;
    word-wrap:break-word;
  }

  &--online{
    bottom: 0;
    background-color: $color-primary-20;
    left: 0;
    margin: 0 15px;
    position: absolute;
    padding: 0 30px 20px;
    right: 0;
  }

  &__connection-state {
    background-color: $color-gray-light;
  }

  &__box{
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
