.zz-form {
  margin-top: rem-calc(75px);

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: 0;

    &--last {
      border-radius: 5px;
      margin: 1rem 0 0 0;
    }
  }

  &__input {
    border-radius: 5px;
    border: 1px solid $color-gray-light;
    padding: 0.75rem;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0px 0px 5px $color-primary-50;
      outline: none;
    }

    &--error{
      &:focus {
        border-color: $color-red;
        box-shadow: 0px 0px 5px $color-red;
      }
    }
  }

  &__label,
  &__input {
    display: block;
    width: 100%;

    &--error{
        border-color: $color-red;
        box-shadow: 0px 0px 5px $color-red;
    }

    //dateppicker from npm-modules
    .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-input[_ngcontent-c1],
    .ngx-datepicker-container[_ngcontent-c0] .ngx-datepicker-input[_ngcontent-c0]{
      border:none;
      font-family: $font-family-primary;
      font-size: $font-s-copytext;
      height: 100%;
      padding: 1rem;
      width: 100%;
    }

    .ngx-datepicker-container[_ngcontent-c0] .ngx-datepicker-calendar-container[_ngcontent-c0],
    .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1]{
      z-index: 300;
    }
  }

  &__error{
    color: $color-red;
    font-size: $font-s-infotext;
    padding-top: rem-calc(10px);
  }

  &__title{
    border-bottom: 1px solid $color-gray-light;
    font-size: $font-s-h3;
    font-weight: $font-semi-bold;
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(40px);
    padding-bottom: rem-calc(20px);
  }

  &__select{
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $color-gray-light;
    height: 2.5rem;
    width: 100%;

    &:focus{
      border-color: $color-primary;
    }
  }

  &__date-wrapper{
    display:flex;
  }

  &--margin-top{
    padding-top: rem-calc(40px);
  }
}



// Datepicker - need to be overwritten
ng-datepicker.zz-form__input{
  padding:0;

  .ngx-datepicker-container[_ngcontent-c0]  .ngx-datepicker-calendar-container[_ngcontent-c0] .main-calendar-container[_ngcontent-c0] .main-calendar-days[_ngcontent-c0] .day-unit.is-selected[_ngcontent-c0],
  .ngx-datepicker-container[_ngcontent-c0]  .ngx-datepicker-calendar-container[_ngcontent-c0] .main-calendar-container[_ngcontent-c0] .main-calendar-days[_ngcontent-c0] .year-unit.is-selected[_ngcontent-c0],
  .ngx-datepicker-container[_ngcontent-c0]  .ngx-datepicker-calendar-container[_ngcontent-c0] .main-calendar-container[_ngcontent-c0] .main-calendar-years[_ngcontent-c0] .day-unit.is-selected[_ngcontent-c0],
  .ngx-datepicker-container[_ngcontent-c0]  .ngx-datepicker-calendar-container[_ngcontent-c0] .main-calendar-container[_ngcontent-c0] .main-calendar-years[_ngcontent-c0] .year-unit.is-selected[_ngcontent-c0],

  .ngx-datepicker-container[_ngcontent-c1]  .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-days[_ngcontent-c1] .day-unit.is-selected[_ngcontent-c1],
  .ngx-datepicker-container[_ngcontent-c1]  .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-days[_ngcontent-c1] .year-unit.is-selected[_ngcontent-c1],
  .ngx-datepicker-container[_ngcontent-c1]  .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-years[_ngcontent-c1] .day-unit.is-selected[_ngcontent-c1],
  .ngx-datepicker-container[_ngcontent-c1]  .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-years[_ngcontent-c1] .year-unit.is-selected[_ngcontent-c1]{
    background-color: $color-primary;
  }
}


