.zz-infotext{
  font-size: $font-s-infotext;
  text-align: center;

  :first-child{
    display: block;
    margin-top: 2rem;
  }

  &__link{
    color: $color-primary;
    margin-left:auto;
    margin-right:auto;

    &--large{
      font-size: $font-s-copytext;
    }
  }

  &--form{
    color: $color-gray-middle;
    padding-top: rem-calc(5px);
    text-align: left;
  }

  .zz-infotext--inline{
    display:inline;
    margin-top: 0;
  }

  button{
    border:none;
    background-color: $color-white;

    &:hover,
    &:focus{
      color: $color-black;
      cursor: pointer;
    }
  }
}



