.zz-infotext{
  font-size: $font-s-infotext;
  text-align: center;

  :first-child{
    margin-top: 2rem;
    display: block;
  }

  &__link{
    color: $color-primary;
    margin-left:auto;
    margin-right:auto;

    &--large{
      font-size: $font-s-copytext;
    }
  }

  &--form{
    text-align: left;
    padding-top: rem-calc(5px);
    color: $color-gray-middle;
  }

  button{
    border:none;

    &:hover{
      color: $color-black;
      cursor: pointer;
    }
  }

}

