.zz-logo{
  height: 80px;

  &__img{
    height:100%;
    @include media-breakpoint-down(xs) {
      height:69%;
    }
  }

  &.zz-logo--position-center{
    display:flex;
    margin-bottom:rem-calc(50px);
    .zz-logo__img{
      margin:auto;
    }
  }

  @include media-breakpoint-down(xs) {
    padding-bottom: 0;
  }
}


