.zz-messagebox{
  @extend .helper-boxshadow;
  z-index: 1100;

  &--pointerless {
    pointer-events:none;
  }

  &__modal {
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    left: calc(50% - 275px);
    max-width: 450px;
    position: absolute;
    padding: 1rem;
    pointer-events:auto;
    top:0;
    z-index: 1200;
    @include media-breakpoint-down(lg){
      left: calc(50% - 200px);
    }
    @include media-breakpoint-down(md){
      left: calc(50% - 200px);
    }
    @include media-breakpoint-down(xs){
      left: 20%;
      top:-100px;
      width: 240px;
    }
  }

  &__backdrop {
    background: $color-black;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100;
  }

}
