.zz-title{
  font-weight: $font-semi-bold;
  font-size: $font-s-h1;

  &:before{
    background-color: $color-primary;
    border-radius:20px 20px 20px 20px;
    content:'';
    height: 5px;
    position: absolute;
    top: -5px;
    width: 50px;
  }

  &-h2{
    font-size: $font-s-h2;
  }
  &--insideBox:before{
    top: 40px; //-10+50px padding (in file _modul-box)
  }
}

.zz-title-h3{
  font-weight: $font-semi-bold;
  font-size: $font-s-h3;
  padding-top:1rem;
}

