<!--
Vorbereitung -> Übertragen in gesamte Form
-->
  <a class="navbar-brand zz-logo zz-logo--position-center" href="#">
    <img src="assets/img/logo.png" alt="" class="zz-logo__img">
  </a>
  <div class="row justify-content-center zz-layout__row">
    <div class="col-11 col-lg-11 col-xl-7 zz-mod-container">
      <div class="zz-mod-box">
        <h1 class="zz-title zz-title--insideBox">Registrieren</h1>
        <form name="form" [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register()" novalidate class="zz-form">
          <div class="form-row">
            <div class="col-12"><h3 class="zz-form__title">Angaben zu den Eltern</h3></div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="p-firstname">Vorname</label>
              <input id="p-firstname" class="zz-form__input" [(ngModel)]="model.parent_firstname" type="text" formControlName="formPFirstname" [ngClass]="{ 'zz-form__input--error': formPFirstname.invalid && (formPFirstname.dirty || formPFirstname.touched)}">
              <div *ngIf="formPFirstname.invalid && formPFirstname.errors.required && (formPFirstname.dirty || formPFirstname.touched)" class="zz-form__error">
                Vorname darf nicht leer sein
              </div>
              <div *ngIf="formPFirstname.invalid && formPFirstname.errors.minlength && (formPFirstname.dirty || formPFirstname.touched)" class="zz-form__error">
                Vorname muss mindestens zwei Zeichen haben
              </div>
            </div>
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="p-lastName">Nachname</label>
              <input id="p-lastName" class="zz-form__input" name="lastName" type="text" [(ngModel)]="model.parent_lastname" formControlName="formPLastname" [ngClass]="{ 'zz-form__input--error': formPLastname.invalid && (formPLastname.dirty || formPLastname.touched)}">
              <div *ngIf="formPLastname.invalid && formPLastname.errors.required && (formPLastname.dirty || formPLastname.touched)" class="zz-form__error">
                Nachname darf nicht leer sein
              </div>
              <div *ngIf="formPLastname.invalid && formPLastname.errors.minlength && (formPLastname.dirty || formPLastname.touched)" class="zz-form__error">
                Nachname muss mindestens zwei Zeichen haben
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="adress">Adresse</label>
              <input id="adress" class="zz-form__input" name="adress" type="text" [(ngModel)]="model.adress" formControlName="formAdress" [ngClass]="{ 'zz-form__input--error': formAdress.invalid && (formAdress.dirty || formAdress.touched)}">
              <div *ngIf="formAdress.invalid && formAdress.errors.required && (formAdress.dirty || formAdress.touched)" class="zz-form__error">
                Adresse darf nicht leer sein
              </div>
              <div *ngIf="formAdress.invalid && formAdress.errors.minlength && (formAdress.dirty || formAdress.touched)" class="zz-form__error">
                Adresse ist nicht gültig
              </div>
            </div>
            <div class="col-8 zz-form__group">
              <label class="zz-form__label" for="place">Ort</label>
              <input id="place" class="zz-form__input" name="place" type="text" [(ngModel)]="model.place" formControlName="formPlace" [ngClass]="{ 'zz-form__input--error': formPlace.invalid && (formPlace.dirty || formPlace.touched)}">
              <div *ngIf="formPlace.invalid && formPlace.errors.required && (formPlace.dirty || formPlace.touched)" class="zz-form__error">
                Ort darf nicht leer sein
              </div>
              <div *ngIf="formPlace.invalid && formPlace.errors.minlength && (formPlace.dirty || formPlace.touched)" class="zz-form__error">
                Ort muss mindestens zwei Zeichen haben
              </div>
            </div>
            <div class="col-4 zz-form__group">
              <label class="zz-form__label" for="zip">PLZ</label>
              <input id="zip" class="zz-form__input" name="zip" type="text" [(ngModel)]="model.zip" formControlName="formZip" [ngClass]="{ 'zz-form__input--error': formZip.invalid && (formZip.dirty || formZip.touched)}">
              <div *ngIf="formZip.invalid && formZip.errors.required && (formZip.dirty || formZip.touched)" class="zz-form__error">
                Postleitzahl darf nicht leer sein
              </div>
              <div *ngIf="formZip.invalid && formZip.errors.minlength && (formZip.dirty || formZip.touched)" class="zz-form__error">
                Postleitzahl muss vier Zeichen enthalten
              </div>
              <div *ngIf="formZip.invalid && formZip.errors.maxlength && (formZip.dirty || formZip.touched)" class="zz-form__error">
                Postleitzahl muss vier Zeichen enthalten
              </div>
              <div *ngIf="formZip.invalid && formZip.errors.pattern && (formZip.dirty || formZip.touched)" class="zz-form__error">
                Postleitzahl kann keine Buchstaben enthalten
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="tel-privat">Telefon privat</label>
              <input id="tel-privat" class="zz-form__input" name="tel-privat" type="text">
            </div>
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="tel-office">Telefon geschäft <span
                class="zz-infotext">(optional)</span></label>
              <input id="tel-office" class="zz-form__input" name="tel-office" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="p-gender">
                Anrede
              </label>
              <select class="zz-form__select" id="p-gender">
                <option>Bitte wählen</option>
                <option>Frau</option>
                <option>Herr</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="language">
                Sprache
              </label>
              <select class="zz-form__select" id="language">
                <option>Deutsch</option>
                <option>Englisch</option>
                <option>Französisch</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12"><h3 class="zz-form__title">Angaben zum Kind</h3></div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="c-firstname">Vorname</label>
              <input id="c-firstname" class="zz-form__input" name="firstName" type="text">
            </div>
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="c-lastName">Nachname</label>
              <input id="c-lastName" class="zz-form__input" name="lastName" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="c-gender">
                Geschlecht
              </label>
              <select class="zz-form__select" id="c-gender">
                <option>Bitte wählen</option>
                <option>Mädchen</option>
                <option>Junge</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <label class="col-12 zz-form__label">Geburtstag</label>
            <div class="col-4 zz-form__group">
              <select class="zz-form__select" id="c-birthday">
                <option>Tag</option>
                <option>01</option>
                <option>02</option>
              </select>
            </div>
            <div class="col-4 zz-form__group">
              <select class="zz-form__select" id="c-birthday-month">
                <option>Monat</option>
                <option>Januar</option>
                <option>Februar</option>
              </select>
            </div>
            <div class="col-4 zz-form__group">
              <select class="zz-form__select" id="c-birthday-year">
                <option>Jahr</option>
                <option>2017</option>
                <option>2018</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12"><h3 class="zz-form__title">E-Mail und Passwort</h3></div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="email">E-Mail (gilt als username)</label>
              <input id="email" class="zz-form__input" name="email" type="text">
            </div>
            <div class="col-md-6 col-sm-12 zz-form__group">
              <label class="zz-form__label" for="email-check">E-Mail wiederholen</label>
              <input id="email-check" class="zz-form__input" name="emailcheck" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="password">Passwort</label>
              <input id="password" class="zz-form__input" name="password" type="password">
              <p class="zz-infotext zz-infotext--form">Das Passwort muss zwischen 8 und 50 Zeichen lang sein sowie mindestens einen Buchstaben und mindestens eine Zahl enthalten.</p>
            </div>
            <div class="col-12 zz-form__group">
              <label class="zz-form__label" for="passwordcheck">Passwort wiederholen</label>
              <input id="passwordcheck" class="zz-form__input" name="passwordcheck" type="password">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 zz-form__group zz-form__group--last">
              <button class="zz-btn zz-btn--primary">Registrieren und Nutzungsbestimmungen zustimmen*</button>
            </div>
          </div>
        </form>
        <div class="zz-infotext">
          <a href="#" class="zz-infotext__link">
            * Nutzungsbedingungen lesen
          </a>
        </div>
      </div>
      <div class="zz-infotext">
        <p class="zz-infotext__txt">
          Schon registriert?
        </p>
        <a href="#" class="zz-infotext__link zz-infotext__link--large">
          zum Login
        </a>
      </div>
    </div>
  </div>
<!--
Vorbereitung -> Übertragen in gesamte Form
-->

<p class="navbar-brand zz-logo zz-logo--position-center" href="#">
    <img src="assets/img/logo.png" alt="" class="zz-logo__img">
  </p>
  <div class="row justify-content-center zz-layout__row">
    <div class="col-11 col-lg-8 col-xl-5 zz-mod-container">
      <div class="zz-mod-box">
        <h1 class="zz-title zz-title--insideBox">Registrieren</h1>
        <form name="form" #f="ngForm" class="zz-form" (ngSubmit)="f.form.valid && register()" novalidate>
          <div class="form-row">
            <div class="col-6 zz-form__group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label class="zz-form__label" for="first">First Name</label>
              <input id="first" class="zz-form__input" name="firstName" type="text" [(ngModel)]="model.firstName" #firstName="ngModel" required>
              <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
            </div>
            <div class="col-6 zz-form__group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label class="zz-form__label" for="last">Last Name</label>
              <input id="last"class="zz-form__input" name="lastName" type="text" [(ngModel)]="model.lastName" #lastName="ngModel" required>
              <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 zz-form__group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label class="zz-form__label" for="username">Username</label>
              <input id="username" class="zz-form__input" name="username" type="text" [(ngModel)]="model.username" #username="ngModel" required>
              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="col-6 zz-form__group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label class="zz-form__label" for="password">Password</label>
              <input id="password" class="zz-form__input" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 zz-form__group zz-form__group--last">
              <button class="zz-btn zz-btn--primary">Registrieren*</button>
            </div>
            <div class="col-6 zz-form__group zz-form__group--last">
              <button class="zz-btn zz-btn--primary">Cancel</button>
            </div>
          </div>
        </form>
        <div class="zz-infotext">
          <a href="#" class="zz-infotext__link">
            * Nutzungsbedingungen lesen
          </a>
        </div>
      </div>
      <div class="zz-infotext">
        <p class="zz-infotext__txt">
          Schon registriert?
        </p>
        <a [routerLink]="['/login']" class="zz-infotext__link zz-infotext__link--large">
          zum Login
        </a>
      </div>
    </div>
  </div>
