<div [routerLink]="['/login']">
  <div class="col-11 col-lg-11 col-xl-7 zz-overlay__content">
    <h1 class="zz-title zz-title--insideBox">Passwort vergessen</h1>
    <div class="zz-overlay__text-wrapper">
      <p>Falls Sie Ihr Passwort vergessen haben, melden Sie sich bitte beim Support. Der setzt Ihnen umgehend das Passwort zurück und setzt Ihnen ein neues.</p>
      <h3 class="zz-title--h3">Kontakt Support</h3>
      <p>Telefon: 044 000 000 000<br>
        E-Mail: <a class="zz-infotext__link" href="mailto: admin@admin.com?subject=Passwort vergessen&body=Geben Sie hier bitte ihre Kontaktdaten ein">admin@admin.com</a>
      <p>Bitte geben Sie ihre Telefonnummer an, wenn Sie sich per E-Mail melden. So können wir schneller reagieren.</p>
      <h3 class="zz-title--h3">Unsere Öffnungszeiten</h3>
      <p>Montag bis Freitag von 08.00 bis 12.00 Uhr und 13.00 bis 18.00 Uhr</p>
    </div>
    <button [routerLink]="['/login']" class="zz-overlay__close-btn"></button>
  </div>
</div>
