ƒ<div class="zz-overlay">
  <div class="col-11 col-lg-11 col-xl-7 zz-overlay__content">
    <div class="zz-overlay__content-inner">
      <h1 class="zz-title zz-title--insideBox">Alle Informationen von {{user.child_forename}} {{user.child_surname}}</h1>
      <div class="row zz-overlay__text-wrapper">
        <div class="col-12 zz-overlay__image-box">
          <div class="zz-overlay__image-wrapper">
              <img class="zz-table__img" [src]="user?.user_avatar" *ngIf="user?.user_avatar; else falsyTemplate">
              <ng-template #falsyTemplate>
                <img src="assets/img/dummyPortrait.png" alt="" class="zz-overlay__image">
              </ng-template>
          </div>
        </div >
        <div class="col-12 col-lg-6 zz-overlay__2-column" *ngIf="!user.is_teacher">
          <h2 class="zz-title zz-title-h2">Informationen Kind</h2>
          <h3 class="zz-title-h3">Vorname Name</h3>
          <p>{{user.child_forename}} {{user.child_surname}}</p>
          <h3 class="zz-title-h3">Geburtsdatum</h3>
          <p>{{user.child_date_of_birth | properDate}}</p>
          <h3 class="zz-title-h3">Klasse</h3>
          <p>{{user.klasse_name}}</p>
        </div>
        <div class="col-12 col-lg-6 zz-overlay__2-column">
          <h2 class="zz-title zz-title-h2" *ngIf="user.is_teacher">Informationen Lehrer</h2>
          <h2 class="zz-title zz-title-h2" *ngIf="!user.is_teacher">Informationen Eltern</h2>
          <h3 class="zz-title-h3">Vorname Name</h3>
          <p>{{user.parent_forename}} {{user.parent_surname}}</p>
          <h3 class="zz-title-h3">Adresse</h3>
          <p>{{user.adress}}<br>
            {{user.zip}} {{user.place}}</p>
          <h3 class="zz-title-h3">Telefonnummer</h3>
          <p>{{user.tel_private}}</p>
          <h3 class="zz-title-h3">Korrespondenz-Sprache</h3>
          <p>{{user.parent_language | language}}</p>
          <h3 class="zz-title-h3">Registriert seit</h3>
          <p>{{user.register_date | properDate}}</p>
          <p>
          </p>
          <p>
            <button class="zz-btn zz-btn--primary">
               <a href="mailto:{{user.email}}">
                 E-Mail schreiben
               </a>
            </button>
          </p>
        </div>
        <button [routerLink]="['/classlist']" class="zz-overlay__close-btn"></button>
      </div>
    </div>
  </div>
</div><!--End content-->
