<div [class.zz-chat__connection-state]="!cState" class="zz-chat__window zz-chat__online">

  <div class="zz-chat__sender">
    <p appTextareaAutosize class="zz-chat__sender-text"></p>

  </div>
  <form  >
    <label class="zz_chat__message-label" ></label>
    <textarea class="zz-chat__message-input" type="text" appTextareaAutosize
           placeholder="Danke für die Chatmeldung" autofocus #messageText  ></textarea>
  </form>
  <div class="clearfix">
    <button class="float-right zz-btn-small zz-btn--primary" type=submit (click)="onSend(messageText.value)">
      Senden
    </button>
  </div>
  <div *ngIf="!cState">keine Verbindung</div>

</div>
