<div class="col-11 col-lg-11 col-xl-7 zz-overlay__content">
  <div class="zz-overlay__content-inner">
    <h1 class="zz-title zz-title--insideBox">Daten bearbeiten</h1>
    <div >
      <form [formGroup]="childDetailsForm" (ngSubmit)="childDetailsForm.valid && update()" novalidate class="zz-overlay__text-wrapper">
        <div class="form-row">
          <div class="col-md-6 col-sm-12 zz-form__group">
            <label class="zz-form__label" for="c-gender">
              Geschlecht
            </label>
            <select class="zz-form__select" id="c-gender" formControlName="child_gender">
              <option value="w">Mädchen</option>
              <option value="m">Junge</option>
            </select>
            <app-show-errors [control]="formChildGender"></app-show-errors>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 col-sm-12 zz-form__group">
            <label class="zz-form__label" for="c-firstname">Vorname</label>
            <input id="c-firstname" class="zz-form__input" type="text" formControlName="child_forename" [ngClass]="{ 'zz-form__input--error': formCFirstname.invalid && (formCFirstname.dirty || formCFirstname.touched)}">
            <app-show-errors [control]="formCFirstname"></app-show-errors>
          </div>
          <div class="col-md-6 col-sm-12 zz-form__group">
            <label class="zz-form__label" for="c-lastName">Nachname</label>
            <input id="c-lastName" class="zz-form__input" type="text" formControlName="child_surname" [ngClass]="{ 'zz-form__input--error': formCLastname.invalid && (formCLastname.dirty || formCLastname.touched)}">
            <app-show-errors [control]="formCLastname"></app-show-errors>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 zz-form__group">
            <label class="zz-form__label">Geburtstag</label>
            <input type="text" id="c-Birthday-Day" class="zz-form__input" formControlName="child_date_of_birth" [ngClass]="{ 'zz-form__input--error': formCBirthday.invalid && (formCBirthday.dirty || formCBirthday.touched)}">
            <app-show-errors [control]="formCBirthday"></app-show-errors>
          </div>
        </div>
        <div class="form-row">
          <button type="submit" class="zz-btn zz-btn--primary" [disabled]="!childDetailsForm.valid">
            speichern
          </button>
        </div>
      </form>
    </div>
    <button [routerLink]="['/profile']" aria-label="Close" class="zz-overlay__close-btn"></button>
  </div>
</div>

