<div class="zz-overlay__content-inner">
  <h1 class="zz-title zz-title--insideBox">Daten bearbeiten</h1>
  <div class="row zz-overlay__text-wrapper form-row">
    <div class="col-12 zz-form__group">
      <label class="zz-form__label" for="adress">Adresse</label>
      <input id="adress" class="zz-form__input" name="adress" type="text">
    </div>
    <div class="col-8 zz-form__group">
      <label class="zz-form__label" for="place">Ort</label>
      <input id="place" class="zz-form__input" name="place" type="text">
    </div>
    <div class="col-4 zz-form__group">
      <label class="zz-form__label" for="zip">PLZ</label>
      <input id="zip" class="zz-form__input" name="zip" type="text">
    </div>
    <div class="col-12 zz-form__group">
      <label class="zz-form__label" for="adress">Adresse</label>
      <input id="adress" class="zz-form__input" name="adress" type="text">
    </div>
    <div class="col-8 zz-form__group">
      <label class="zz-form__label" for="place">Ort</label>
      <input id="place" class="zz-form__input" name="place" type="text">
    </div>
    <div class="col-4 zz-form__group">
      <label class="zz-form__label" for="zip">PLZ</label>
      <input id="zip" class="zz-form__input" name="zip" type="text">
    </div>
    <button class="zz-btn zz-btn--primary">
      speichern
    </button>
  </div>
  <button aria-label="Close" class="zz-overlay__close-btn"></button>
</div>
