<table class="table table-responsive table-hover zz-table">
  <caption class="visuallyhidden">Liste der Teilnehmer</caption>
  <thead>
  <tr>
    <th scope="col" colspan="3">Kind</th>
    <th scope="col" *ngIf="userCurrent.is_teacher; else falsyTemplate" colspan="6">Eltern</th>
    <ng-template #falsyTemplate>
      <th scope="col" colspan="4">Eltern</th>
    </ng-template>
  </tr>
  <tr>
    <th scope="col">Foto</th>
    <th scope="col"><a class="zz-table__anchor" (click)="onSortGoal(SortFields.C_FORENAME)">Vorname <span
      [class.zz-table--arrow-up]="sortGoals[SortFields.C_FORENAME].up"
      [class.zz-table--arrow-down]="sortGoals[SortFields.C_FORENAME].down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor active" (click)="onSortGoal(SortFields.C_SURNAME)">Nachname <span
      [class.zz-table--arrow-up]="sortGoals[SortFields.C_SURNAME].up"
      [class.zz-table--arrow-down]="sortGoals[SortFields.C_SURNAME].down"></span></a></th>
    <th scope="col"><a class="zz-table__anchor" (click)="onSortGoal(SortFields.P_FORENAME)">Vorname <span
      [class.zz-table--arrow-up]="sortGoals[SortFields.P_FORENAME].up"
      [class.zz-table--arrow-down]="sortGoals[SortFields.P_FORENAME].down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor" (click)="onSortGoal(SortFields.P_SURNAME)">Nachname <span
      [class.zz-table--arrow-up]="sortGoals[SortFields.P_SURNAME].up"
      [class.zz-table--arrow-down]="sortGoals[SortFields.P_SURNAME].down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor" (click)="onSortGoal(SortFields.PLACE)">Wohnort <span
      [class.zz-table--arrow-up]="sortGoals[SortFields.PLACE].up"
      [class.zz-table--arrow-down]="sortGoals[SortFields.PLACE].down"></span></a>
    </th>
    <th scope="col">E-Mail</th>
    <th *ngIf="userCurrent.is_teacher" scope="col">Bestätigen</th>
    <th *ngIf="userCurrent.is_teacher" scope="col">User Löschen</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table--confirmed" [ngClass]="{'zz-table--me' : userCurrent.email === item.email}"
      *ngFor="let item of classlistList">
    <td scope="row">
      <div [routerLink]="['detail', item.id]" class="zz-table__img-wrapper">
        <img class="zz-table__img" alt="Profilbild" [src]="item?.user_avatar" *ngIf="item?.user_avatar; else falsyTemplate">
        <ng-template #falsyTemplate>
          <img class="zz-table__img" alt="Profilbild" src="../../../assets/img/dummyPortrait.png">
        </ng-template>
      </div>
    </td>
    <td><span class="zz-table__anchor" [routerLink]="['detail', item.id]">{{item.child_forename}}</span></td>
    <td>{{item.child_surname}}</td>
    <td>{{item.parent_forename}}</td>
    <td>{{item.parent_surname}}</td>
    <td>{{item.place}}</td>
    <td class="zz-table__anchor-mail"><a href="mailto:{{item.email}}">
      <svg class="zz-table__icon" viewBox="0 0 20 11.8">
        <rect width="20" height="11.8"/>
        <polyline class="st0" points="0,0 10.3,8.3 20,0 "/>
      </svg>
      <span class="zz-table__e-mail-txt">{{item.email}}</span></a></td>
    <td *ngIf="userCurrent.is_teacher">

      <div *ngIf="userCurrent.email === item.email; else falsyTemplate"></div>
      <ng-template #falsyTemplate>
        <app-message-box [userItem]="item" (answer)="sendAnswer($event)"></app-message-box>
        <input class="table__checkbox" type="checkbox" aria-label="bestaetigung" [checked]="item.is_approved"
               (change)="showAlert(item, $event)">
        <!-- onChecked(item, $event) -->
      </ng-template>
    </td>
    <td *ngIf="userCurrent.is_teacher">
      <div *ngIf="userCurrent.email === item.email; else falsyTemplate"></div>
      <ng-template #falsyTemplate>
        <app-message-box [userItem]="item" (answer)="sendAnswerOnDelete($event)"></app-message-box>
        <button class="zz-btn zz-btn--primary" [id]="item.id" (click)="showAlertDelete(item, $event)">löschen</button>
      </ng-template>
    </td>
  </tr>
  </tbody>
</table>
