
<table class="table table-responsive table-hover zz-table">
  <caption class="visuallyhidden">Liste der Teilnehmer</caption>
  <thead>
  <tr>
    <th scope="col" colspan="3">Kind</th>
    <th scope="col" colspan="4">Eltern</th>
  </tr>
  <tr>
    <th scope="col">Foto</th>
    <th scope="col"><a class="zz-table__anchor" href="#">Vorname <span class="zz-table--arrow-down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor active" href="#">Nachname <span class="zz-table--arrow-up"></span></a></th>
    <th scope="col"><a class="zz-table__anchor" href="#">Vorname <span class="zz-table--arrow-down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor" href="#">Nachname <span class="zz-table--arrow-down"></span></a>
    </th>
    <th scope="col"><a class="zz-table__anchor" href="#">Wohnort <span class="zz-table--arrow-down"></span></a>
    </th>
    <th scope="col">E-Mail</th>
    <th *ngIf="userCurrent.is_teacher" scope="col">Bestätigt</th>
  </tr>
  </thead>
  <tbody>



<tr class="table--confirmed" *ngFor="let item of classlistList">
  <th scope="row"><img class="zz-table__img" src="../../../assets/img/portrait.svg"></th>
  <td><span class="zz-table__anchor"  [routerLink]="['detail', item.id]">{{item.child_forename}}</span></td>
  <td>{{item.child_surname}}</td>
  <td>{{item.parent_forename}}</td>
  <td>{{item.parent_surname}}</td>
  <td>{{item.place}}</td>
  <td>
    <a href="mailto:{{item.email}}">
      <svg class="zz-table__icon" viewBox="0 0 20 11.8">
        <rect width="20" height="11.8"/>
        <polyline class="st0" points="0,0 10.3,8.3 20,0 "/>
      </svg>
    </a>
  </td>
  <td *ngIf="userCurrent.is_teacher">
    <input class="table__checkbox" type="checkbox" aria-label="bestaetigung"  [checked]="item.is_approved" (ngModelChange)="onChecked($event)">

 </td>

</tr>

  </tbody>
</table>
