<div class="row justify-content-end zz-layout__row">
  <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
    <h1 class="zz-title">Profildetails</h1>
    <div class="zz-mod-box zz-mod-box--first">
      <div class="zz-mod-box__img-wrapper">
        <img src="assets/img/dummy-portrait.png" alt="" class="zz-mod-box__img">
      </div>
      <p class="zz-mod-box__txt"><span class="zz-mod-box__txt-item zz-mod-box--bold">{{currentUser.child_forename}}</span><span
        class="zz-mod-box--line-right"></span><span
        class="zz-mod-box__txt-item">{{currentUser.klasse_description}}</span></p>
    </div>
  </div>
</div>
<div class="row justify-content-end zz-layout__row">
  <div class="col-12 col-xl-5 col-lg-6 zz-mod-container">
    <h1 class="zz-title zz-title--h2">Angaben Kind</h1>
    <div class="zz-mod-box">
      <div class="zz-mod-box__img-wrapper zz-mod-box--img-large">
        <img src="assets/img/dummy-portrait.png" alt="" class="zz-mod-box__img">
      </div>
      <button class="zz-btn zz-btn--primary">
        Profilbild ersetzen
      </button>
      <h3 class="zz-title--h3">Vorname Name</h3>
      <p>{{currentUser.child_forename}} {{currentUser.child_surname}}</p>
      <h3 class="zz-title--h3">Geburtsdatum</h3>
      <p>{{currentUser.child_date_of_birth}}</p>
      <h3 class="zz-title--h3">Klasse</h3>
      <p>{{currentUser.klasse_description}}</p>
      <h3 class="zz-title--h3">Klassenlehrer</h3>
      <p>{{currentUser.teacher_user_id}}</p>
      <button class="zz-btn zz-btn--primary">
        Daten bearbeiten
      </button>
    </div>
  </div>
  <div class="col-12 col-xl-5 col-lg-6 zz-mod-container">
    <h1 class="zz-title zz-title--h2">Angaben Eltern</h1>
    <div class="zz-mod-box">
      <h3 class="zz-title--h3">Vorname Name</h3>
      <p>{{currentUser.parent_forename}} {{currentUser.parent_surname}}</p>
      <h3 class="zz-title--h3">Adresse</h3>
      <p>{{currentUser.adress}}</p>
      <p>{{currentUser.zip}} {{currentUser.place}}</p>
      <h3 class="zz-title--h3">Telefonnummer</h3>
      <p>{{currentUser.tel_private}}</p>
      <h3 class="zz-title--h3">Telefon Geschäft</h3>
      <p>{{currentUser.tel_office}}</p>
      <h3 class="zz-title--h3">E-Mail/Username</h3>
      <p>{{currentUser.email}}</p>
      <button class="zz-btn zz-btn--primary">
        Daten bearbeiten
      </button>
    </div>
    <button class="zz-btn zz-btn--primary">
      Passwort wechseln
    </button>
  </div>
</div>
