//fontfamily
$font-family-primary: 'Open Sans', Arial, Helvetica, sans-serif;

//font-weight
$font-regular: 400;
$font-semi-bold: 600;

//font-sizes
$font-s-h1: rem-calc(40px);
$font-s-h2: rem-calc(27px);
$font-s-h3: rem-calc(16px);

$font-s-copytext: rem-calc(16px);
$font-s-copytext-large: rem-calc(18px);


$font-s-nav-button: rem-calc(14px);

$font-s-footer: rem-calc(14px);

$font-s-infotext: rem-calc(14px);
