<ul class="navbar-nav zz-nav__list-group">

  <li class="zz-nav__list-group-item">
    <a class="zz-nav__link" [routerLink]="['home']" routerLinkActive="active">Dashboard
    </a>
  </li>
  <li class="zz-nav__list-group-item">
    <a class="zz-nav__link" [routerLink]="['classlist']" routerLinkActive="active">Klassenliste
    </a>
  </li>
  <li class="zz-nav__list-group-item">
    <a class="zz-nav__link" [routerLink]="['chat']" routerLinkActive="active">Chat
    </a>
  </li>
  <li class="dropdown zz-nav__list-group-item">
    <button class="zz-nav__button" data-toggle="dropdown">
      <img [src]="userAvatar" alt="Profilbild" *ngIf="userContent?.user_avatar; else falsyTemplate"
           class="zz-nav__image">
      <ng-template #falsyTemplate>
        <img src="assets/img/dummyPortrait.png" alt="Profilbild" class="zz-nav__image">
      </ng-template>
    </button>
    <div class="dropdown-menu dropdown-menu-righ zz-nav__dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item zz-nav__dropdown-menu-item" [routerLink]="['profile']"
         routerLinkActive="active">Profil</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item zz-nav__dropdown-menu-item" (click)="logout()">Abmelden</a>
    </div>
  </li>
</ul>
